html{
	font-size: 20px;
}
header, h1{
	display: flex;
	justify-content: center;
}
.calcBody, .calcHeading{
	display: flex;
	justify-content: center;
	align-content: center;
}
.calcHeading{
	font-weight: bold;
}
.zero{
	display: flex;
	justify-content: start;
	align-content: start;
	font-size: 1.21rem;
}
.vertical{
	display:flex;
	flex-direction: column;
}
button{
	display: flex;
	margin: auto;
	padding: auto;
	width: 1rem;
	justify-content: center;
}
#calculate{
	height: 100%;
	width: 55;
}